/***********************************/
/**********  VARAIBLES *************/
/***********************************/
/***********************************/
/**********  GLOBAL ****************/
/***********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/***********************************/
/**********  HEADER ****************/
/***********************************/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

header .topbar {
  width: 100%;
  background-color: #FFF;
}

header .topbar .mycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  header .topbar .mycontainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .topbar .mycontainer .logo {
  width: 25%;
  border-right: 1px solid #ccc;
}

@media (max-width: 767px) {
  header .topbar .mycontainer .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    border-right: 0;
  }
}

header .topbar .mycontainer .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0;
}

@media (max-width: 767px) {
  header .topbar .mycontainer .logo a {
    padding: 15px 0;
  }
}

header .topbar .mycontainer .search {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-right: 1px solid #ccc;
}

@media (max-width: 767px) {
  header .topbar .mycontainer .search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    border-right: none;
    border-top: 1px solid #ccc;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  header .topbar .mycontainer .search {
    padding: 15px;
  }
}

header .topbar .mycontainer .search svg {
  width: 20px;
  height: 20px;
  color: #888;
  margin-right: 10px;
}

header .topbar .mycontainer .search input {
  width: 95%;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  color: #888;
  padding-top: 2px;
}

header .topbar .mycontainer .search input:focus {
  outline: 0;
}

header .topbar .mycontainer .search:hover {
  color: #888;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .topbar .mycontainer .search:hover svg {
  margin-right: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

header .topbar .mycontainer .search:hover span {
  margin-right: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

header .topbar .mycontainer .adress {
  width: 17.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  header .topbar .mycontainer .adress {
    display: none;
  }
}

header .topbar .mycontainer .adress svg {
  width: 25px;
  height: 25px;
  color: #333;
  margin-right: 10px;
}

header .topbar .mycontainer .adress span {
  font-size: 15px;
}

header .topbar .mycontainer .config {
  width: 17.5%;
}

@media (max-width: 767px) {
  header .topbar .mycontainer .config {
    display: none;
  }
}

header .topbar .mycontainer .config a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #7daf3f;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 100%;
}

header .topbar .mycontainer .config a svg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 25px;
  height: 25px;
  color: #fff;
  margin-right: 10px;
}

header .topbar .mycontainer .config a span {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 16px;
}

header .topbar .mycontainer .config a:hover {
  color: #fff;
  background-color: #391414;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .topbar .mycontainer .config a:hover svg {
  margin-right: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

header .topbar .mycontainer .config a:hover span {
  margin-right: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

header .topbar .mycontainer .mobile-nav-toggle {
  display: none;
}

@media (max-width: 767px) {
  header .topbar .mycontainer .mobile-nav-toggle {
    display: block;
    width: 40px;
    color: #7daf3f;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

header nav {
  width: 100%;
  margin-top: -40px;
}

@media (max-width: 767px) {
  header nav {
    display: none;
    width: 80%;
    height: 100vh;
    margin: 0;
    padding: 80px 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
  width: 100%;
}

@media (max-width: 767px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
}

header nav ul li {
  width: 25%;
  border-right: 1px solid #ccc;
}

header nav ul li:last-of-type {
  border-right: none;
}

@media (max-width: 767px) {
  header nav ul li {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #ccc;
  }
}

header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: #fff;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  background-color: #7daf3f;
  color: #fff;
}

header nav ul li.dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: #fff;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

header nav ul li.dropdown-container .dropdown {
  display: none;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header nav ul li.dropdown-container .dropdown .contact .contact-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
  color: #fff;
  position: relative;
}

header nav ul li.dropdown-container .dropdown .contact .contact-head img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 8;
}

header nav ul li.dropdown-container .dropdown .contact .contact-head span {
  z-index: 9;
}

header nav ul li.dropdown-container .dropdown .contact .contact-desc {
  width: 100%;
  padding: 15px;
  z-index: 9;
  background-color: #fff;
}

header nav ul li.dropdown-container .dropdown .contact .contact-desc p {
  font-size: 15px;
  font-weight: bold;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form {
  width: 100%;
  background-color: #fff;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form div {
  padding: 15px;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form input[type="text"],
header nav ul li.dropdown-container .dropdown .contact .contact-form form input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 20px;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form input[type="text"]:focus,
header nav ul li.dropdown-container .dropdown .contact .contact-form form input[type="email"]:focus {
  outline: none;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form label {
  display: block;
  color: #888;
  margin-bottom: 10px;
  font-size: 14px;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form textarea {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  height: 70px;
  resize: none;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form textarea:focus {
  outline: none;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form input[type="submit"] {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #7daf3f;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

header nav ul li.dropdown-container .dropdown .contact .contact-form form input[type="submit"]:focus {
  outline: none;
}

header nav ul li.dropdown-container .dropdown .boutique {
  display: block;
  width: 100%;
  z-index: 8;
}

header nav ul li.dropdown-container .dropdown .boutique .boutique-menu {
  display: block;
  width: 100%;
  padding: 20px 0;
  position: relative;
  border: none;
}

header nav ul li.dropdown-container .dropdown .boutique .boutique-menu img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

header nav ul li.dropdown-container .dropdown .boutique .boutique-menu li {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 9;
  border: none;
}

header nav ul li.dropdown-container .dropdown .boutique .boutique-menu li a {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: transparent;
  border: none;
  padding: 7px 0;
  border: none;
}

header nav ul li.dropdown-container .dropdown .boutique .boutique-menu li a:hover, header nav ul li.dropdown-container .dropdown .boutique .boutique-menu li a.active {
  color: #fff;
  background: #391414;
}

header nav ul li.dropdown-container .dropdown .boutique .boutique-link {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #7daf3f;
  color: #fff;
}

header nav ul li.dropdown-container .dropdown .boutique .boutique-link:hover {
  background-color: #391414;
  color: #fff;
}

header nav ul li.dropdown-container:hover > .dropdown {
  display: block;
  -webkit-animation: slideDown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: slideDown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
}

/***********************************/
/**********  CONTENT ****************/
/***********************************/
.main-content {
  width: 100%;
  background: #F8F8F8;
  padding-top: 535px;
}

@media (max-width: 767px) {
  .main-content {
    padding-top: 115px;
    overflow: hidden;
  }
}

.main-content.boutique {
  padding-top: 259px;
}

@media (max-width: 767px) {
  .main-content.boutique {
    padding-top: 115px;
  }
}

.main-content .fixed-section {
  width: 100%;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 0;
  background: #F8F8F8;
}

@media (max-width: 767px) {
  .main-content .fixed-section {
    position: static;
  }
}

.main-content .fixed-section .slider {
  width: 100%;
}

.main-content .fixed-section .slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .main-content .fixed-section .slider img {
    height: 170px;
  }
}

.main-content .fixed-section .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  z-index: 0;
}

@media (max-width: 767px) {
  .main-content .fixed-section .categories {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-content .fixed-section .categories .category {
  width: 18.5%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
}

@media (max-width: 767px) {
  .main-content .fixed-section .categories .category {
    width: 48%;
    margin-bottom: 15px;
  }
}

.main-content .fixed-section .categories .category img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .fixed-section .categories .category h3 {
  font-size: 18px;
  color: #fff;
  line-height: 1.3;
  text-align: center;
}

.main-content .fixed-section .categories .category:hover {
  background: #7daf3f;
}

.main-content .fixed-section .categories .category:hover img {
  opacity: 0;
}

.main-content .fixed-section.boutique {
  padding: 85px 0 15px;
  background: #391414;
}

.main-content .fixed-section.boutique h1 {
  color: #7daf3f;
  font-size: 2.8rem;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .main-content .fixed-section.boutique h1 {
    font-size: 2.5rem;
  }
}

.main-content .fixed-section.boutique .breadcrumbs {
  color: #fff;
}

.main-content .fixed-section.boutique .breadcrumbs li {
  display: inline-block;
  margin-right: 8px;
}

.main-content .fixed-section.boutique .breadcrumbs li a {
  color: #fff;
  font-size: 14px;
}

.main-content .fixed-section.boutique .breadcrumbs li a:hover {
  color: #DDD;
}

.main-content .scroll-section {
  padding: 30px 0;
  z-index: 9;
  position: relative;
}

.main-content .scroll-section .config-block {
  position: relative;
  overflow: hidden;
  background: #391414;
  padding: 35px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .main-content .scroll-section .config-block {
    padding: 20px 15px 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .main-content .scroll-section .config-block > img {
    margin-top: 15px;
  }
}

.main-content .scroll-section .config-block .e-icon {
  width: 150px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: -40px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  fill: #7daf3f;
}

@media (max-width: 767px) {
  .main-content .scroll-section .config-block .e-icon {
    width: 100px;
    height: 150px;
    top: 55%;
    left: -15px;
  }
}

.main-content .scroll-section .config-block .txt-block {
  margin-left: 40px;
  color: #fff;
}

.main-content .scroll-section .config-block .txt-block h3 {
  font: normal normal bold 33px/43px PT Sans;
  margin-bottom: 10px;
}

.main-content .scroll-section .config-block .txt-block p {
  font: normal normal normal 20px/26px PT Sans;
}

.main-content .scroll-section .config-block .arrow {
  width: 20px;
  color: #fff;
  position: absolute;
  top: 48%;
  right: 80px;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 767px) {
  .main-content .scroll-section .config-block .arrow {
    top: initial;
    bottom: 10px;
    right: 20px;
  }
}

.main-content .scroll-section .config-block:hover {
  background: #7daf3f;
}

.main-content .scroll-section .config-block:hover .arrow {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.main-content .scroll-section .config-block:hover .e-icon {
  fill: #391414;
}

.main-content .scroll-section .carousel {
  width: 100%;
  padding: 20px 0 20px 10%;
  position: relative;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .main-content .scroll-section .carousel {
    padding: 20px;
    margin-bottom: 50px;
  }
}

.main-content .scroll-section .carousel h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}

@media (max-width: 767px) {
  .main-content .scroll-section .carousel h2 {
    margin-bottom: 180px;
  }
}

.main-content .scroll-section .carousel .mycarousel {
  width: 35%;
  padding: 40px 40px 80px;
  border: 1px solid #ccc;
  background: #FFF;
  color: #000;
  position: relative;
  z-index: 20;
}

@media (max-width: 767px) {
  .main-content .scroll-section .carousel .mycarousel {
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px 80px;
  }
}

.main-content .scroll-section .carousel .mycarousel h3 {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: bold;
}

.main-content .scroll-section .carousel .mycarousel p {
  font-size: 15px;
  line-height: 1.8;
}

.main-content .scroll-section .carousel .mycarousel .carousel-navs {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .carousel .mycarousel .carousel-navs .nav-prev, .main-content .scroll-section .carousel .mycarousel .carousel-navs .nav-next {
  width: 50px;
  height: 50px;
  color: #000;
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.main-content .scroll-section .carousel .mycarousel .carousel-navs .nav-prev:focus, .main-content .scroll-section .carousel .mycarousel .carousel-navs .nav-next:focus {
  outline: none;
}

.main-content .scroll-section .carousel .mycarousel .carousel-navs .nav-prev svg, .main-content .scroll-section .carousel .mycarousel .carousel-navs .nav-next svg {
  fill: #000;
}

.main-content .scroll-section .carousel .mycarousel .carousel-navs .carousel-dots {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #fff;
  padding: 0 20px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .carousel .mycarousel .carousel-navs .carousel-dots .dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #7daf3f;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.main-content .scroll-section .carousel .mycarousel .carousel-navs .carousel-dots .dot.active {
  background: #7daf3f;
}

.main-content .scroll-section .carousel .images {
  width: 65%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 767px) {
  .main-content .scroll-section .carousel .images {
    width: 100%;
    height: 300px;
    top: initial;
    bottom: 40%;
  }
}

.main-content .scroll-section .carousel .images .img-container {
  width: 100%;
  height: 100%;
}

.main-content .scroll-section .carousel .images .img-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  -webkit-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.main-content .scroll-section .carousel .images > svg {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 50px;
  height: 65px;
  color: #fff;
  fill: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .carousel:hover .mycarousel {
  background: #7daf3f;
  color: #fff;
}

.main-content .scroll-section .carousel:hover .mycarousel .carousel-navs .carousel-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .scroll-section .carousel:hover .images .img-container img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  opacity: 1;
}

.main-content .scroll-section .carousel:hover .images > svg {
  opacity: 1;
}

.main-content .scroll-section .carousel.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10% 20px 0;
}

.main-content .scroll-section .carousel.reverse .empty-col {
  width: 65%;
  height: 20px;
}

.main-content .scroll-section .carousel.reverse .col2 {
  width: 65%;
  padding: 5px 0 20px;
  z-index: 5;
}

.main-content .scroll-section .carousel.reverse .col2 > h2 {
  padding-left: 160px;
  margin-bottom: 20px;
}

.main-content .scroll-section .carousel.reverse .col2 .mycarousel {
  background: #fff;
  height: 400px;
  position: relative;
  width: 100%;
  padding: 0;
  border: none;
}

.main-content .scroll-section .carousel.reverse .col2 .mycarousel > img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.main-content .scroll-section .carousel.reverse .col2 .mycarousel .infos {
  width: 100%;
  height: 150px;
  padding: 40px 40px 0;
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .carousel.reverse .col2 .mycarousel .infos .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  left: 40px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  z-index: 6;
}

.main-content .scroll-section .carousel.reverse .col2 .mycarousel .infos .plus span {
  font-size: 17px;
  color: #7daf3f;
  text-transform: uppercase;
  letter-spacing: 1.4;
}

.main-content .scroll-section .carousel.reverse .col2 .mycarousel .infos .plus svg {
  width: 24px;
  fill: #7daf3f;
  color: #7daf3f;
}

.main-content .scroll-section .carousel.reverse .images {
  right: initial;
  left: 0;
  z-index: 0;
  width: 55%;
}

.main-content .scroll-section .carousel.reverse:hover .mycarousel {
  background: #fff;
  color: #000;
}

.main-content .scroll-section .carousel.reverse:hover .mycarousel .infos {
  height: 180px;
}

.main-content .scroll-section .carousel.reverse:hover .mycarousel .infos .plus {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 1;
}

.main-content .scroll-section .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.main-content .scroll-section .portfolio .block {
  width: 32%;
  height: 330px;
  margin-bottom: 20px;
}

.main-content .scroll-section .portfolio .block.block-1 {
  padding: 65px 20px 0;
  background: #391414;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

.main-content .scroll-section .portfolio .block.block-1 h2 {
  color: #7daf3f;
  line-height: 1.4;
  font-size: 30px;
  margin-bottom: 30px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .portfolio .block.block-1 p {
  color: #fff;
  line-height: 1.8;
  font-size: 14px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .portfolio .block.block-1 .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
  left: 20px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  z-index: 2;
}

.main-content .scroll-section .portfolio .block.block-1 .plus span {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.4;
}

.main-content .scroll-section .portfolio .block.block-1 .plus svg {
  width: 24px;
  fill: #fff;
  color: #fff;
}

.main-content .scroll-section .portfolio .block.block-1:hover {
  background: #7daf3f;
}

.main-content .scroll-section .portfolio .block.block-1:hover h2 {
  color: #391414;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.main-content .scroll-section .portfolio .block.block-1:hover p {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.main-content .scroll-section .portfolio .block.block-1:hover .plus {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 1;
}

.main-content .scroll-section .portfolio .block.block-n {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .portfolio .block.block-n img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section .portfolio .block.block-n > svg {
  width: 60px;
  height: 75px;
  fill: #fff;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 5;
}

.main-content .scroll-section .portfolio .block.block-n:hover {
  background: rgba(0, 0, 0, 0.1);
}

.main-content .scroll-section .portfolio .block.block-n:hover svg {
  opacity: 1;
}

.main-content .scroll-section .portfolio .block.block-n:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.main-content .scroll-section.boutique {
  padding-top: 40px;
}

.main-content .scroll-section.boutique > .mycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .scroll-section.boutique .side-bar {
  width: 25%;
  padding-right: 10px;
}

.main-content .scroll-section.boutique .side-bar nav {
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 25px;
}

.main-content .scroll-section.boutique .side-bar nav h2 {
  font-size: 18px;
  font-weight: bols;
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

.main-content .scroll-section.boutique .side-bar nav ul {
  width: 100%;
}

.main-content .scroll-section.boutique .side-bar nav ul li {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
}

.main-content .scroll-section.boutique .side-bar nav ul li:last-of-type {
  border-bottom: none;
}

.main-content .scroll-section.boutique .side-bar nav ul li a {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-content .scroll-section.boutique .side-bar nav ul li a:hover, .main-content .scroll-section.boutique .side-bar nav ul li a.active {
  background: #7daf3f;
  color: #fff;
}

.main-content .scroll-section.boutique .content {
  width: 75%;
  padding-left: 10px;
}

.main-content .scroll-section.boutique .content .tab-links {
  margin-bottom: 30px;
}

.main-content .scroll-section.boutique .content .tab-links a {
  color: #888;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.main-content .scroll-section.boutique .content .tab-links a:hover, .main-content .scroll-section.boutique .content .tab-links a.active {
  color: #000;
}

.main-content .scroll-section.boutique .content .tab-content {
  width: 100%;
}

.main-content .scroll-section.boutique .content .tab-content .tab1 {
  width: 100%;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-container .product {
  width: 32%;
  margin-right: 1%;
  margin-bottom: 25px;
  position: relative;
  height: 330px;
  border: 1px solid #ccc;
}

.products-container .product > img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.products-container .product .prod-infos {
  background: #fff;
  border-top: 1px solid #ccc;
  padding: 10px 10px 0;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.products-container .product .prod-infos .prod-title {
  font-size: 1rem;
  height: 40px;
  line-height: 1.4;
  color: #333;
  margin-bottom: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.products-container .product .prod-infos .prod-price {
  font-size: 24px;
  color: #b3b3b3;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.products-container .product .prod-infos .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  z-index: 6;
}

.products-container .product .prod-infos .plus span {
  font-size: 16px;
  color: #7daf3f;
  text-transform: uppercase;
  letter-spacing: 1.4;
}

.products-container .product .prod-infos .plus svg {
  width: 22px;
  fill: #7daf3f;
  color: #7daf3f;
}

.products-container .product .available {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #7daf3f;
  padding: 10px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
}

.products-container .product:hover .prod-infos {
  height: 160px;
  padding-top: 30px;
}

.products-container .product:hover .prod-infos .prod-title {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.products-container .product:hover .prod-infos .prod-price {
  color: #000;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.products-container .product:hover .prod-infos .plus {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  opacity: 1;
}

/***********************************/
/**********  FOOTER ****************/
/***********************************/
footer {
  margin: 0;
  padding: 0;
  z-index: 20;
  position: relative;
}

footer .myhr {
  display: block;
  width: 100%;
  height: 6px;
  background: #7daf3f;
}

footer .myfooter {
  padding: 20px 0;
  background: #fff;
}

footer .myfooter > .mycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .myfooter .logo {
  width: 27%;
}

footer .myfooter .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .myfooter .logo a img {
  width: 80%;
}

footer .myfooter .col {
  width: 21%;
  padding: 10px 20px;
}

footer .myfooter .col h3 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

footer .myfooter .col ul li {
  display: block;
  padding: 8px 0;
  font-weight: 300;
  color: #666;
  font-size: 14px;
}

footer .myfooter .col h5 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

footer .myfooter .col adress {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 10px;
}

footer .myfooter .col a {
  color: #666;
  font-size: 14px;
}

footer .myfooter .col p {
  font-size: 14px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .myfooter .col p svg {
  margin-right: 15px;
  color: #666;
  width: 20px;
}

footer .myfooter .col p span {
  padding-top: 8px;
}

footer .myfooter .col span {
  display: block;
  font-size: 10px;
  margin-bottom: 8px;
}

/***********************************/
/*********  FRAMEWORKS *************/
/***********************************/
.mycontainer {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .mycontainer {
    width: 90%;
  }
}

.overlay {
  position: absolute;
  background-color: #F8F8F8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #191f26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.loading img {
  width: 500px;
}

/***********************************/
/*********  ANIMATIONS *************/
/***********************************/
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=App.css.map */